In [6]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [7]:
## reading data 

data=pd.read_csv('insurance.csv')

In [8]:
data.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [9]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
## independent variables 
X=data.drop('charges',axis=1)

In [12]:
# traget variables
Y=data.charges

In [13]:
# dummy variable creation 
data_dummy=pd.get_dummies(data[['sex','smoker','region']])

In [14]:
X=X.drop(['sex','smoker','region'],axis=1)

In [15]:
data_dummy

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [16]:
## combining dummy variable to other i.v
X=pd.concat([X,data_dummy],axis=1)

In [17]:
X.describe()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,0.494768,0.505232,0.795217,0.204783,0.242152,0.242900,0.272048,0.242900
std,14.049960,6.098187,1.205493,0.500160,0.500160,0.403694,0.403694,0.428546,0.428995,0.445181,0.428995
min,18.000000,15.960000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.296250,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,30.400000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.693750,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,64.000000,53.130000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
X.shape

(1338, 11)

In [19]:
## trying model on whole data 
lm=LinearRegression()

In [20]:
model=lm.fit(X,Y)

In [21]:
?model

In [22]:
model

LinearRegression()

In [23]:
## predicting on whole data 
pred_charge=model.predict(X)

In [24]:
pred_charge

array([25293.7130284 ,  3448.60283431,  6706.9884907 , ...,
        4149.13248568,  1246.58493898, 37085.62326757])

In [25]:
## r square 
model.score(X,Y)

0.7509130345985207

In [26]:
 pd.Series(model.coef_)

0       256.856353
1       339.193454
2       475.500545
3        65.657180
4       -65.657180
5    -11924.267271
6     11924.267271
7       587.009235
8       234.045336
9      -448.012814
10     -373.041756
dtype: float64

In [27]:
X.columns

Index(['age', 'bmi', 'children', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

In [28]:
## variable with different cofficients 
pd.concat([pd.Series(X.columns),pd.Series(model.coef_)],axis=1)

                   0             1
0                age    256.856353
1                bmi    339.193454
2           children    475.500545
3         sex_female     65.657180
4           sex_male    -65.657180
5          smoker_no -11924.267271
6         smoker_yes  11924.267271
7   region_northeast    587.009235
8   region_northwest    234.045336
9   region_southeast   -448.012814
10  region_southwest   -373.041756

In [37]:
## building model using statsmodels 
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats
X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Sat, 17 Dec 2022   Prob (F-statistic):               0.00
Time:                        21:18:56   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -296.4168    430.507     -0.689      0.491   -1140.964     548.130
age                256.8564     11.899     21.587      0.000     233.514     280.199
bmi                339.1935     28.599     11.860      0.000     283.088     395.298
children           475.5005    137.804      3.451      0.001     205.163     745.838
sex_female         -82.5512    269.226     -0.307      0.759    -610.706     445.604
sex_male          -213.8656    274.976     -0.778      0.437    -753.299     325.568
smoker_no        -1.207e+04    282.338    -42.759      0.000   -1.26e+04   -1.15e+04
smoker_yes        1.178e+04    313.530     37.560      0.000    1.12e+04    1.24e+04
region_northeast   512.9050    300.348      1.708      0.088     -76.303    1102.113
region_northwest   159.9411    301.334      0.531      0.596    -431.201     751.083
region_southeast  -522.1170    330.759     -1.579      0.115   -1170.983     126.749
region_southwest  -447.1459    310.933     -1.438      0.151   -1057.119     162.827
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                     9.07e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.27e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [38]:
## using significant variables based on P values 
X1=X.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X21 = sm.add_constant(X1)
est = sm.OLS(Y, X21)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     998.1
Date:                Sat, 17 Dec 2022   Prob (F-statistic):               0.00
Time:                        21:18:57   Log-Likelihood:                -13551.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1333   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -131.3796    629.912     -0.209      0.835   -1367.107    1104.348
age          257.8495     11.896     21.675      0.000     234.512     281.187
bmi          321.8514     27.378     11.756      0.000     268.143     375.559
children     473.5023    137.792      3.436      0.001     203.190     743.814
smoker_no  -1.197e+04    354.354    -33.784      0.000   -1.27e+04   -1.13e+04
smoker_yes  1.184e+04    396.710     29.846      0.000    1.11e+04    1.26e+04
==============================================================================
Omnibus:                      301.480   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              722.157
Skew:                           1.215   Prob(JB):                    1.53e-157
Kurtosis:                       5.654   Cond. No.                     2.29e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.72e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [39]:
## dividing data in train and test 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [40]:
x_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
547,54,46.700,2,1,0,1,0,0,0,0,1
169,27,18.905,3,0,1,1,0,1,0,0,0
1244,18,33.330,0,0,1,1,0,0,0,1,0
306,28,27.500,2,1,0,1,0,0,0,0,1
1267,24,31.065,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
550,63,30.800,0,0,1,1,0,0,0,0,1
274,25,27.550,0,0,1,1,0,0,1,0,0
143,29,29.735,2,0,1,1,0,0,1,0,0
1034,61,38.380,0,0,1,1,0,0,1,0,0
1014,38,27.600,0,1,0,1,0,0,0,0,1

In [41]:
## model building on train data 
X2_train = sm.add_constant(x_train)
est = sm.OLS(y_train, X2_train)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.762
Model:                            OLS   Adj. R-squared:                  0.760
Method:                 Least Squares   F-statistic:                     370.4
Date:                Sat, 17 Dec 2022   Prob (F-statistic):          1.47e-282
Time:                        21:18:59   Log-Likelihood:                -9464.2
No. Observations:                 936   AIC:                         1.895e+04
Df Residuals:                     927   BIC:                         1.899e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -378.1574    498.497     -0.759      0.448   -1356.470     600.155
age                264.1168     14.017     18.843      0.000     236.608     291.625
bmi                336.9354     33.154     10.163      0.000     271.870     402.001
children           405.3911    162.268      2.498      0.013      86.937     723.846
sex_female        -275.0155    317.508     -0.866      0.387    -898.133     348.102
sex_male          -103.1418    317.016     -0.325      0.745    -725.294     519.010
smoker_no        -1.211e+04    327.648    -36.968      0.000   -1.28e+04   -1.15e+04
smoker_yes        1.173e+04    366.217     32.042      0.000     1.1e+04    1.25e+04
region_northeast   440.4768    353.664      1.245      0.213    -253.598    1134.552
region_northwest    71.9968    354.813      0.203      0.839    -624.333     768.327
region_southeast  -369.9736    392.478     -0.943      0.346   -1140.222     400.274
region_southwest  -520.6574    370.794     -1.404      0.161   -1248.351     207.036
==============================================================================
Omnibus:                      190.516   Durbin-Watson:                   2.049
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              426.259
Skew:                           1.113   Prob(JB):                     2.75e-93
Kurtosis:                       5.444   Cond. No.                     1.16e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.82e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [42]:
## model using only signicant variables based on p values 
X2_train1=x_train.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [43]:
X2_train2 = sm.add_constant(X2_train1)
est = sm.OLS(y_train, X2_train2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.761
Model:                            OLS   Adj. R-squared:                  0.760
Method:                 Least Squares   F-statistic:                     740.1
Date:                Sat, 17 Dec 2022   Prob (F-statistic):          2.48e-287
Time:                        21:19:01   Log-Likelihood:                -9466.0
No. Observations:                 936   AIC:                         1.894e+04
Df Residuals:                     931   BIC:                         1.897e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -315.6667    724.811     -0.436      0.663   -1738.120    1106.786
age          264.7167     13.986     18.927      0.000     237.269     292.165
bmi          323.7951     31.347     10.329      0.000     262.276     385.314
children     401.1427    161.987      2.476      0.013      83.240     719.046
smoker_no  -1.208e+04    407.596    -29.637      0.000   -1.29e+04   -1.13e+04
smoker_yes  1.176e+04    460.726     25.534      0.000    1.09e+04    1.27e+04
==============================================================================
Omnibus:                      190.861   Durbin-Watson:                   2.037
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              427.226
Skew:                           1.115   Prob(JB):                     1.69e-93
Kurtosis:                       5.446   Cond. No.                     7.79e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  4e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [44]:
## prediction on train data 
x_train_pred=est2.predict(X2_train2)

In [45]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_train = sqrt(mean_squared_error(y_train, x_train_pred))

In [46]:
## error on train data 
rms_train

5969.016717384857

In [47]:
X2_test1=x_test.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X2_test2 = sm.add_constant(X2_test1)

In [48]:
## prediction on test data 
x_test_pred=est2.predict(X2_test2)

In [49]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_test = sqrt(mean_squared_error(y_test, x_test_pred))

In [50]:
## error on test data 
rms_test

6260.040161209079